src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:odata="http://www.mulesoft.org/schema/mule/odata"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/odata http://www.mulesoft.org/schema/mule/odata/current/mule-odata.xsd">

	<context:property-placeholder location="automation-credentials.properties" />
	
    <odata:config name="OData" username="${odata.username}" password="${odata.password}" serviceUri="${odata.serviceUri}" consumerVersion="${odata.consumerVersion}" formatType="${odata.formatType}">
        <odata:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </odata:config>
    
    <flow name="create-entity">
    	<odata:create-entity config-ref="OData" entitySetName="#[flowVars.entitySetName]" entity-ref="#[flowVars.entityRef]" />
    </flow>
    
    <flow name="delete-entity">
    	<odata:delete-entity config-ref="OData" entitySetName="#[flowVars.entitySetName]" keyAttribute="#[flowVars.keyAttribute]" entity-ref="#[flowVars.entityRef]" />
    </flow>
    
    <flow name="get-entities">
    	<odata:get-entities config-ref="OData" entitySetName="#[flowVars.entitySetName]" returnClass="#[flowVars.returnClass]" />
    </flow>
    
    <flow name="update-entity">
    	<odata:update-entity config-ref="OData" keyAttribute="#[flowVars.keyAttribute]" entity-ref="#[flowVars.entityRef]" entitySetName="#[flowVars.entitySetName]" />
    </flow>
    
    <flow name="batch">
    	<odata:batch config-ref="OData">
      		<odata:create-entity config-ref="OData" entitySetName="#[flowVars.entitySetName]" entity-ref="#[flowVars.entityRef]" />
    		<odata:delete-entity config-ref="OData" keyAttribute="#[flowVars.keyAttribute]" entity-ref="#[flowVars.entityRef]" entitySetName="#[flowVars.entitySetName]"  />
    	</odata:batch>
    </flow>
    
</mule>
